* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    margin-top: 150px;
}

.timer__block {
    width: 150px;
    border-radius: 10px;

}

.time {
    background-color: #2987be;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 150px;
    font-size: 95px;
}

.title {
    background-color: #1059b8;
    padding: 5px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
    margin-top: 20px;
}

.button {
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding: 10px;
    transition: .3s ease-in-out;
    cursor: pointer;
}

.start {
    color: #2987be;
}

.start:hover {
    background-color:  #1059b8;
    color: white;
}

.pause:hover {
    background-color: #e03b8b;
    color: white;
}